// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: lightskyblue;
  text-align: center
}

#my-title {
  text-align: center
}

#sign-name {
  text-decoration: underline
}

#sign-square-footage {
  text-decoration: underline
}

#sign-address {
  text-decoration: underline
}

#sign-button {
  text-decoration: underline
}
